@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Add custom styles here */
body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
}